# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Secret files
/server/client_secret.json
/server/token.json
client_secret.json
token.json
*.env
.env*